#root{
    .board-game-wrapper{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 50vw;
        .board-game{
            height: 322px;
            width: 310px;
            outline: 15px groove #efefef;
        }
    }
    .exit{
            height: 55px;
            width: 40px;
            top: -210px;
            left: 490px;
            position: relative;
            display: flex;
            background-color: #fff;
            justify-content: center;
            align-items: center;
        }
}